footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 10rem;
    background-color: #000e33;
    width: 100%;
}
.foot1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #808080;
    font-size: 1.2rem;
}
.foot1 span{
    margin: 0.7rem;
    font-size: 2rem;
    color: white;
}
.foot2{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    width: 100%;
}
.footlogo{
    width: 10rem;
}
.footlogo:nth-child(2){
    width: 18rem;
}
.f3left img{
    width: 2.5rem;
}
.f3left{
    font-size: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin-top: 0.6rem;
}
.conus{
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footlnk{
    color: #7e99e3;
}
.f3right{
    display: flex;
    /* width: 100%; */
    margin-top: 1rem;
    justify-content: center;
    gap: 3rem;
    color: white;
    text-decoration: none;
}
.footline{
    width: 100%;
    height: 1px;
    margin-top: 3rem;
    background-color: #fff;
    display: block;
}
.foot3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    align-items: flex-start;
}

@media screen and (max-width:425px){
    .foot3{
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .f3right{
        gap: 1.5rem;
    }
    .f3left{
        margin-right: 1rem;
    }
}