.stywar{
    top: 7.3rem !important;
}
.stywar-section{
    padding-bottom: 7rem !important;
}
.codman{
    top: 5.9rem !important;
}
.gamin{
    top: 7.3rem !important;
}
.paintball{
    top: 7.3rem !important;
}
.webot{
    top: 9.9rem !important;
}
.movni{
    top: 7.3rem !important;
}